@page

@using WebHost.Result;
@model BackendModel
@{
    ViewData["Title"] = "Backend";
}

<div class="text-center">

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-dev-tab" data-bs-toggle="pill" data-bs-target="#pills-dev" type="button" role="tab" aria-controls="pills-dev" aria-selected="true">DEV</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-prod-tab" data-bs-toggle="pill" data-bs-target="#pills-prod" type="button" role="tab" aria-controls="pills-prod" aria-selected="false">PROD</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-dev" role="tabpanel" aria-labelledby="pills-dev-tab">
            <h3>DEV</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">TemperatureC</th>
                        <th scope="col">TemperatureF</th>
                        <th scope="col">Summary</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                    }

                    @foreach (BackendResultModel backend in Model.DevEntries)
                    {
                        i++;
                        <tr>
                            <th scope="row">@i</th>
                            <td>@backend.Date</td>
                            <td>@backend.TemperatureC</td>
                            <td>@backend.TemperatureF</td>
                            <td>@backend.Summary</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="pills-prod" role="tabpanel" aria-labelledby="pills-prod-tab">
            <h3>PROD</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">TemperatureC</th>
                        <th scope="col">TemperatureF</th>
                        <th scope="col">Summary</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        i = 0;
                    }
                     @foreach (BackendResultModel backend in Model.ProdEntries)
                    {
                        i++;
                        <tr>
                            <th scope="row">@i</th>
                            <td>@backend.Date</td>
                            <td>@backend.TemperatureC</td>
                            <td>@backend.TemperatureF</td>
                            <td>@backend.Summary</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
